@import "./resetCss.css";

/*body {*/
    /*background-color: #2f2f2f;*/
    /*font-family: Arial , sans-serif;*/
/*}*/

.main-page {
    width: 100%;
    max-width: 1280px;
    background-color: white;
    outline: 1px solid grey;
    margin: 0 auto;
}

.main-page__header {
    display: flex;
    align-items: center;
    height: 80px;
}

.main-page__nav {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-page__nav_item {
    color:  #16a085;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition-duration: .5s;
}

.main-page__nav_item:hover {
    transform: scale(1.05);
    transition-duration: .5s;
}

.main-page__banner {
    height: 790px;
    background: url("../assets/images/top-img.png") no-repeat;
    width: 100%;
}

.main-page__content {
    background-color: #f2f3f4;
    padding: 60px 110px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__header {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.content__text {
    color:  #373737;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 35px;
    font-size: 16px;
}

.content_btn {
    border-radius: 3px;
    background-color:  #16a085;
    border: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    line-height: .5;
    padding: 15px 35px;
    cursor: pointer;
}

.content_btn:active {
    transform: scale(.95);
}

.content_btn:focus {
    outline: none;
}

.main-page__footer {
    width: 100%;
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 100px;
}

.footer__text {
    font-weight: bolder;
}