@import "reset.css";

body {
    background-color: #373737;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
    position: relative;
    height: 4187px;
}

.header {
    position: absolute;
    /*margin: 0 auto;*/
    height: 72px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.31);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_padding {
    padding: 0 235px;
}

.base_color {
    color: #18cfab;
}

.base_bg_color {
    background-color: #18cfab;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo_text {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .2px;
    margin-top: 2px;
}

.menu {
    margin-right: -15px;
    display: flex;
    align-items: center;
    letter-spacing: .1px;
}

.link {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 9px;
    margin-right: 7px;
    display: block;
    height: 72px;
    line-height: 72px;
    transition-duration: .15s;
    border-bottom: 1px solid transparent;
}

.link:hover {
    border-bottom: 1px solid #18cfab;
    color: #18cfab;
    transition-duration: .15s;
}

.search {
    color: white;
}

/*--------------------------------------*/

.header-banner {
    width: 100%;
    height: 612px;
    background: url("../assets/img/section-1(header).jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}


.banner-text {
    margin-top: 218px;
    color: white;
}

.first-slogan {
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.second-slogan {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 16px;
}

.third-slogan {
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    color: #adadad;
}

.buttons-in-header {
    margin-top: 87px;
}

.button-in-header {
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    border-top: 3px solid white;
    font-size: 8px;
    font-weight: 700;
    cursor: pointer;
}

.color-2 {
    background-color: #00cbf6;
}

.button-in-header:active {
    transform: translateY(2px);
}

.button-in-header:focus {
    outline: none;
}

.first-button-in-header {
    margin-right: 10px;
}

.second-button-in-header {
    margin-left: 3px;
}

/*-------------------------------*/

.service {
    display: flex;
}

.service_block {
    width: 290px;
    height: 226px;
}

.service_block_color-1 {
    background-color: #1c2a33;
    border-top: 4px solid #18cfab;

}

.service_img {
    margin: 52px auto 0;
    background: url("../assets/img/service.png") no-repeat;
    background-size: 240px 60px;
    width: 60px;
    height: 60px;
}

.service_img-1 {
    background-position: 0;
}

.service_img-2 {
    background-position: -60px;
}

.service_img-3 {
    background-position: -120px;
}

.service_img-4 {
    background-position: -180px;
}


.service_text {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 26px;
    margin-left: 5px;
}

.service_text_color-1 {
    color: #18cfab;
}

.service_block_color-2 {
    background-color: #18cfab;
    border-top: 4px solid white;

}

.service_text_color-2 {
    color: white;
}

/*--------------------------------*/

.first-content {
    position: relative;
    background-color: white;
    padding-top: 47px;
    padding-bottom: 56px;
}

.first-content_header {
    font-size: 21px;
    font-weight: 600;
}

.dashes {
    position: relative;
    margin: 0 auto;
    width: 50px;
}

.dashes-position {
    margin-top: 18px;
}


.dashes::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-top: 1.5px solid #18cfab;
    width: 45px;
}

.dashes::after {
    position: absolute;
    content: "";
    top: 3px;
    left: 8px;
    border-top: 1.5px solid #18cfab;
    width: 45px;
}

.first-content_nav {
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
}

.first-content_button {
    flex-grow: 1;
    font-size: 11px;
    font-weight: 500;
    background-color: #f8fcfe;
    border: .5px solid grey;
    position: relative;
    height: 44px;
    transition-duration: .25s;
}

.first-content_button:hover {
    background-color: #18cfab;
    color: white;
    cursor: pointer;
}

.first-content_button:hover:after {
    position: absolute;
    background-color: #18cfab;
    width: 10px;
    height: 10px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%) rotate(45deg) scale(1);
    content: "";
    transition-duration: .25s;
}

.first-content_button:after {
    position: absolute;
    background-color: transparent;
    width: 10px;
    height: 10px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%) rotate(45deg) scale(0);
    content: "";
    transition-duration: .25s;
}

.first-content_button:focus {
    outline: none;
}

.first-content_button:active {
    transform: scale(.98);
    transition-duration: .25s;
}

.first-content_description {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.first-content_text {
    font-size: 10px;
    text-align: justify;
    width: 81%;
    color: #4b4b4b;
    line-height: 1.3;
}

.first-content_img {
    height: 85px;
}

.second-banner {
    height: 287px;
    padding-top: 74px;
    background: url("../assets/img/Layer 2.png") no-repeat;
    background-size: cover;
}

.content_btn {
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    border-top: 3px solid white;
    font-size: 8px;
    font-weight: 700;
    cursor: pointer;
}

.content_btn:active {
    transform: translateY(2px);
}

.content_btn:focus {
    outline: none;
}


/*--------------------------------*/

.second-banner_text-1 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.second-banner_text-2 {
    color: white;
    font-size: 10px;
    margin-top: 17px;
    font-weight: 500;
    margin-bottom: 46px;
}


.second-content_nav {
    margin: 63px auto 0;
    display: flex;
    justify-content: space-between;
    width: 365px;
}

.second-content {
    padding-top: 56px;
    background-color: #f8fcfe;
}

.second-content_header {
    font-size: 21px;
    font-weight: 600;
}

.second-content_button {
    font-size: 9px;
    flex-grow: 1;
    border: 1px solid grey;
    transition-duration: .25s;
    height: 37px;
    background-color: white;
}

.second-content_button:first-child {
    flex-grow: 2;
}


.second-content_button:hover {
    color: #18cfab;
    cursor: pointer;
    border-top: 1px solid #18cfab;
    transition-duration: .25s;
}

.second-content_button:focus {
    outline: none;
}

.second-content_button:active {
    transform: scale(.98);
    transition-duration: .25s;
}

.gallery-item {
    width: 172px;
    height: 124px;
    background-color: red;
    position: relative;
    overflow: hidden;
}

.gallery-info {
    position: absolute;
    background-color: white;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(101%);
    transition-duration: .35s;
    border-top: 2px solid #18cfab;
}

.gallery-item:hover .gallery-info {
    transform: translateY(0);
    transition-duration: .35s;
}