@import "reset.css";

body {
    background-color: #373737;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
    position: relative;
}

.header {
    position: absolute;
    /*margin: 0 auto;*/
    height: 72px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.31);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_padding {
    padding: 0 232px;
}

.base_color {
    color: #18cfab;
}

.base_bg_color {
    background-color: #18cfab;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo_text {
    font-size: 20px;
}

.menu {
    margin-right: -15px;
    display: flex;
    align-items: center;
}

.link {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 9px;
    margin-right: 8px;
    display: block;
    height: 72px;
    line-height: 72px;
    transition-duration: .15s;
    border-bottom: 1px solid transparent;
}

.link:hover {
    border-bottom: 1px solid #18cfab;
    color: #18cfab;
    transition-duration: .15s;
}

.search {
    color: white;
}

/*--------------------------------------*/

.header-banner {
    width: 100%;
    height: 612px;
    background: url("../assets/img/section-1(header).jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}


.banner-text {
    margin-top: 218px;
    color: white;
}

.first-slogan {
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.second-slogan {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 16px;
}

.third-slogan {
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    color: #adadad;
}

.buttons-in-header {
    margin-top: 87px;
}

.button-in-header {
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    border-top: 3px solid white;
    font-size: 8px;
    font-weight: 700;
    cursor: pointer;
}

.color-2 {
    background-color: #00cbf6;
}

.button-in-header:active {
    transform: translateY(2px);
}

.button-in-header:focus {
    outline: none;
}

.first-button-in-header {
    margin-right: 10px;
}

.second-button-in-header {
    margin-left: 3px;
}

/*-------------------------------*/

.service {
    display: flex;
}

.service_block {
    width: 290px;
    height: 226px;
}

.service_block_color-1 {
    background-color: #1c2a33;
    border-top: 4px solid #18cfab;

}

.service_img {
    margin: 52px auto 0;
    background: url("../assets/img/service.png") no-repeat;
    background-size: 240px 60px;
    width: 60px;
    height: 60px;
}

.service_img-1 {
    background-position: 0;
}

.service_img-2 {
    background-position: -60px;
}

.service_img-3 {
    background-position: -120px;
}

.service_img-4 {
    background-position: -180px;
}



.service_text {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 26px;
    margin-left: 5px;
}

.service_text_color-1 {
    color: #18cfab;
}

.service_block_color-2 {
    background-color: #18cfab;
    border-top: 4px solid white;

}

.service_text_color-2 {
    color: white;
}