@import "reset.css";

body {
    font-family: Verdana, sans-serif;
    background: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-size: 12px;
}


.header {
    background-color: rgba(0, 0, 0, 0.51);
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color:  #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.logo:hover {
    color:  #3cb878;
}


.menu__icon {
    width: 30px;
    height: 20px;
    display: inline-block;
    margin-right: 30px;
}



.icons {
    border-right: 1px solid grey;
    display: inline-block;
}

.menu__icon_calendar {
    background: url("../assets/header-icons.png");
    background-position: 5px 0;
    background-size: cover;
}

.menu__icon_calendar:hover {
    background: url("../assets/header-icons_hover.png");
    background-position: 5px 0;
    background-size: cover;
}

.menu__icon_forum{
    background: url("../assets/header-icons.png");
    background-position: -46px 0;
    background-size: cover;
}

.menu__icon_forum:hover{
    background: url("../assets/header-icons_hover.png");
    background-position: -46px 0;
    background-size: cover;
}

.menu__icon_journey{
    background: url("../assets/header-icons.png");
    background-position: -98px 0;
    background-size: cover;
}
.menu__icon_journey:hover{
    background: url("../assets/header-icons_hover.png");
    background-position: -98px 0;
    background-size: cover;
}

.menu {
    display: flex;
    align-items: center;
}

.user {
    color: white;
    display: inline-block;
    margin-left: 25px;
}

.user__text {
    text-transform: capitalize;
    color: #3cb878;
}

.user__text:hover {
    text-decoration: underline;
}

.modal__window {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
    background-color: white;
    content: "";
    padding: 30px 60px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.modal__header:before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #3cb878;
    position: absolute;
    left: -60px;
    top: 0;
}

.user__text_color_black {
    color:  #434343;
    font-size: 20px;
}

.user__text_color_black:hover {
    text-decoration: none;
}

.modal__social {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 30px;
}

.social__icon {
    display: flex;
    align-items: center;
    width: 48%;
    height: 46px;
    padding: 5px 0;
    border-radius: 5px;
}

.social__icon_color_blue {
    background-color: #305db8;
}

.social__icon_color_red {
    background-color: #df4a32;;
}

.social__img {
    height: 100%;
    width: 65px;
}

.social__img_facebook {
    background-color: black;
    background: url("../assets/facebook1.png");
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid rgba(67, 67, 67, 0.53);
}

.social__img_google {
    background-color: black;
    background: url("../assets/google_plus.png");
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid rgba(67, 67, 67, 0.53);
}

.social__name {
    width: 100%;
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
}

.social__name_align {
    text-align: center;
}

.divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  #848484;
    margin: 15px 0;
}

.divider__slash {
    width: 36%;
    text-align: left;
    border-bottom: 1px solid #d0d0d0;
}

.modal__form {
    text-align: center;
}

.modal__input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    transition-duration: .35s;
    border: 1px solid #bababa;
    color:  #434343;;
    font-weight: 600;
}

.modal__input:focus {
    box-shadow: 0 5px 10px #8c8c8c;
    outline: none;
    border: 1px solid #bababa;
    transition-duration: .35s;
}

.modal__input::placeholder {
    text-transform: capitalize;
    color: #bdbdbd;
}

.modal__agreement {
    display: flex;
    align-items: center;
}

.modal__checkbox {
    width: 20px;
    height: 20px;
    margin: 0;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance:none;
    outline: 1px solid #e0e0e0;
    box-shadow: none;
    color: black;
}

.modal__checkbox:checked {
    background: url("../assets/checkbox.png");
    background-position: center;
    background-repeat: no-repeat;
}


.modal__license {
    font-size: 14px;
    margin-left: 10px;
}

.modal__submit {
    width: 100%;
    padding: 17px;
    text-transform: capitalize;
    background-color: #3cb878;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    font-size: 16px;
    cursor: pointer;
}

.divider__text {
    font-size: 14px;
}