@import "reset.css";
@import "../fonts/DS-Digital/fonts.css";

html {
    font-family: 'DS-Digital', sans-serif;
}

body {
    background-color: #3f3f3f;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    font-size: 72px;
    width: 375px;
}

.btn {
    width: 50%;
}